.header-sticky .site-header .inner-header .site-branding svg {
	height: 49px;
}

.home .site-branding svg {
	height: 37px;
}

.archive .alm-reveal li {
	float: left;
	display: block;
	margin-right: 2.35765%;
	width: 31.76157%;
}

.archive .alm-reveal .square-portal-container img {
	height: 100%;
	width: 100%;
}
