.site-header {
	display: none;
	@include media( $large-screen ) {
		display: block;
	}
}

.mobile-sticky {
	background: transparent;
	left: 16px;
	padding: $fifteen;
	position: absolute;
	right: 16px;
	top: 16px;
	z-index: 9;
}

.mobile-sticky.is-sticky {
	.mobile-header {
		background: $white;
	}
}

.mobile-header {
	@include media( $large-screen ) {
		display: none;
	}
	transition: all .75s ease-in-out;
	.site-branding {
		float: left;
	}
	#trigger-overlay {
		background: transparent;
		float: right;
		padding: 0;
		z-index: 1;
		svg {
			width: $thirty;
		}
	}
}

.main-navigation {
	display: none;
	@include media( $large-screen ) {
		display: block;
	}
}

.header-sticky {
	position: absolute;
	z-index: 1;
	.site-header {
		transition: all .75s ease-in-out;
		.inner-header {
			.site-branding {
				float: left;
				margin-left: 16px;
				@include media( $xlarge-screen ) {
					margin-left: 0;
				}
				svg {
					width: 200px;
				}
			}
			.main-navigation {
				display: none;
				margin-right: 32px;
				@include media( $large-screen ) {
					display: block;
				}
				@include media( $xlarge-screen ) {
					margin-right: 0;
				}
				@include media( $large-screen ) {
					.current-menu-item {
						a {
							color: $cyan !important;
						}
					}
				}
			}
		}
	}
}

@include media( $large-screen ) {
	.single-work {
		.main-navigation {
			li.work-link {
				a {
					color: $cyan !important;
				}
			}
		}
	}

	.page-template-page-executives {
		.main-navigation {
			li.people-link {
				a {
					color: $cyan !important;
				}
			}
		}
	}
}

// The header links in the home page get special treatment
.home {
	.header-sticky {
		.site-header {
			.inner-header {
				.site-branding {
					a {
						svg {
							path {
								fill: $white;
							}
						}
					}
				}
				.main-navigation {
					ul {
						li {
							a {
								color: $white;
							}
						}
					}
				}
			}
		}
	}
	.header-sticky.is-sticky {
		.site-header {
			.inner-header {
				.site-branding {
					a {
						svg {
							path {
								fill: $dark-grey;
							}
						}
					}
				}
				.main-navigation {
					ul {
						li {
							a {
								color: $dark-grey;
							}
						}
					}
				}
			}
		}
	}
}

.header-sticky {
	.site-header {
		z-index: 9;
		.inner-header {
			.site-branding {
				svg {
					width: 200px;
					path {
						fill: $white;
					}
				}
			}
			.main-navigation {
				display: none;
			}
		}
	}
}
.header-sticky.is-sticky {
	.site-header {
		background: $white;
		.inner-header {
			.site-branding {
				svg {
					width: 200px;
					path {
						fill: $dark-grey;
					}
				}
			}
		}
	}
}

@include media( $large-screen ) {
	.header-sticky {
		bottom: 16px;
		left: 16px;
		position: absolute;
		right: 16px;
		top: 16px;
		.site-header {
			background: transparent;
			.inner-header {
				.site-branding {
					svg {
						width: 200px;
						path {
							fill: $white;
						}
					}
				}
				.main-navigation {
					display: block;
					ul {
						li {
							a {
								color: $white;
								font-weight: 900;
							}
						}
					}
				}
			}
		}
	}
	.header-sticky {
		position: absolute;
		z-index: 9;
		.site-header {
			transition: all .75s ease-in-out;
			.inner-header {
				@include outer-container;
				.site-branding {
					@include pad(15px 15px 15px 0);
					float: left;
					svg {
						width: 200px;
						path {
							fill: $dark-grey;
						}
					}
				}
				.main-navigation {
					display: block;
					float: right;
					margin-top: 15px;
					ul {
						li {
							display: inline-block;
							margin-left: 50px;
							&:first-child {
								margin: 0;
							}
							a {
								color: $dark-grey;
								text-transform: uppercase;
								&:hover {
									color: #999;
								}
							}
						}
					}
				}
				.hamburger {
					display: none;
				}
			}
		}
	}
	.header-sticky.is-sticky {
		.site-header {
			background: $white;
			z-index: 1;
			.inner-header {
				.site-branding {
					svg {
						width: 200px;
						path {
							fill: $dark-grey;
						}
					}
				}
				.main-navigation {
					ul {
						li {
							a {
								color: $dark-grey;
								&:hover {
									color: #999;
								}
							}
						}
					}
				}
			}
		}
	}
}
