.accordion-tabs {
  $base-border-color: $light-grey;
  $base-border-radius: 3px;
  $base-background-color: $white !default;
  $base-spacing: 25px;
  $action-color: $cyan;
  $base-link-color: $cyan;
  $dark-gray: #7d7f82;
  $light-gray: #d7d6d6;
  $medium-screen: em(640) !default;
  $tab-border: 1px solid $base-border-color;
  $tab-content-background: $light-grey;
  $tab-active-background: $tab-content-background;
  $tab-inactive-color: $base-background-color;
  $tab-inactive-hover-color: darken($light-gray, 5);
  $tab-mode: $medium-screen;

  @include clearfix;
  line-height: 1.5;
  margin-bottom: $base-spacing;
  padding: 0;

  @include media(max-width $tab-mode) {
    border-radius: $base-border-radius;
    border: $tab-border;
  }

  .tab-header-and-content {
    list-style: none;

    @include media($tab-mode) {
      display: inline;
    }

    &:first-child .tab-link {
      border-top-left-radius: $base-border-radius;
      border-top-right-radius: $base-border-radius;

      @include media(max-width $tab-mode) {
        border-top: 0;
      }
    }

    &:last-child .tab-link {
      @include media(max-width $tab-mode) {
        border-bottom-left-radius: $base-border-radius;
        border-bottom-right-radius: $base-border-radius;
      }
    }
  }

  .tab-link {
    background-color: $tab-inactive-color;
    border-top: $tab-border;
    color: $light-gray;
    display: block;
    padding: $base-spacing/2 $gutter/2;
    text-decoration: none;

    @include media($tab-mode) {
      @include inline-block;
      border-top-left-radius: $base-border-radius;
      border-top-right-radius: $base-border-radius;
      border-top: 0;
    }

    svg {
        vertical-align: bottom;
        path {
            fill: $light-grey;
        }
    }

    &:hover {
      color: $base-link-color;
      &:hover {
          svg {
              path {
                  fill: $cyan;
              }
          }
      }
    }

    &:focus {
      outline: none;
    }

    &.is-active {
      background-color: $tab-active-background;
      color: $white;
      svg {
          path {
              fill: $white;
          }
      }
      @include media($tab-mode) {
        background-color: $tab-active-background;
        border: $tab-border;
        border-bottom-color: $tab-active-background;
        margin-bottom: -1px;

      }
      &:hover {
          svg {
              path {
                  fill: white;
              }
          }
      }
    }
  }

  .tab-content {
    background: $white;
    display: none;
    padding: $twentyfive;
    @include media( $large-screen ) {
        padding: $twentyfive 0;
    }
    width: 100%;
    a {
        color: $cyan;
    }

    @include media($tab-mode) {
      border-top: $tab-border;
      float: left;
    }
  }
}
