$cyan: #00a9c5;
$dark-grey: #7d7f82;
$medium-grey: #babcbe;
$light-grey: #d7d6d6;
$white: #fff;
$off-white: #f6f6f6;

$thin-border: 1px solid $light-grey;

$five: 5px;
$ten: 10px;
$fifteen: 15px;
$twenty: 20px;
$thirty: 30px;
$twentyfive: 25px;
$fifty: 50px;
